build/
.cache/
.vscode/
test/results/*
!test/results/.gitkeep

/ISPD2025_benchmarks_old/*
/ISPD2025_benchmarks/*
!/ISPD2025_benchmarks/results
!/ISPD2025_benchmarks/run*.tcl
!/ISPD2025_benchmarks/*.dat